<div>
  <form (ngSubmit)="signupForm.form.valid && onSubmit(signupForm)" #signupForm="ngForm" novalidate>


    <mat-form-field>
      <input 
        type="text" 
        matInput 
        placeholder="loginName"
        [(ngModel)]="adminAccount.loginName" 
        #loginName="ngModel"
        name="loginName" 
        required>
    </mat-form-field>

    <div>
      <mat-form-field>
        <input 
          type="password" 
          name="password"
          matInput
          placeholder="Password"
          [(ngModel)]="adminAccount.password"
          #password="ngModel" 
          [ngClass]="{ 'is-invalid': signupForm.submitted && password.invalid && password.touched }"
          required 
          minlength="6" 
        />      
      </mat-form-field>
      <div *ngIf="password.invalid && password.touched" class="text-danger">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" name="fullName" [(ngModel)]="adminAccount.fullName" #fullName="ngModel"
        [ngClass]="{ 'is-invalid': signupForm.submitted && fullName.invalid && fullName.touched }" required />
      <div *ngIf="fullName.invalid && fullName.touched" class="text-danger">
        <div *ngIf="fullName.errors.required">Full Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="adminDescription">Admin Description</label>
      <input type="text" class="form-control" name="adminDescription" [(ngModel)]="adminAccount.adminDescription"
        #adminDescription="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && adminDescription.invalid && adminDescription.touched }"
        required />
      <div *ngIf="adminDescription.invalid && adminDescription.touched" class="text-danger">
        <div *ngIf="adminDescription.errors.required">Admin Description is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="adminGroupId ">Admin Groups</label>
      <select id="adminGroups" class="form-control" [(ngModel)]="adminAccount.adminGroupId" name="adminGroupId">
        <option *ngFor="let  adminGroupsDTOList of adminGroupsDTOLists" [value]="adminGroupsDTOList">{{adminGroupsDTOList}}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" >Submit</button>
    <div class="btn" *ngIf="!updatedata">
      <button class="btn" type="reset">Clear</button>
    </div> -->

    <button 
      mat-raised-button 
      color="primary"
      type="submit"
    >Submit</button>
  </form>
</div>
